# Binaries
apix
apix.exe
*.exe
*.dll
*.so
*.dylib

# Go test & coverage
*.test
*.out
coverage.txt

# Go workspace
go.work
go.work.sum

# Dependencies
vendor/

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
